@model IEnumerable<JoHealth.Models.NewRecord>
@if (User.IsInRole("Doctor"))
{

<div class="container mt-4">
    <h2>Appointments</h2>

    @if (Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model)
                {
                    <tr>
                        <td>@record.FirstName @record.LastName</td>
                        <td>@record.Age</td>
                        <td>@record.Gender</td>
                        <td>@record.Description</td>
                        <td>
                            <a href="@Url.Action("Details", "Appointments", new { id = record.Id })" class="btn btn-success">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    else
    {
        <p>No appointments found.</p>
    }
</div>
}
else
{
    <div class="alert alert-danger">
        <h4>Access Denied</h4>
        <p>You do not have permission to view this page.</p>
    </div>
}